.imgContainer {
  height: 60%;
  width: 30%;

  padding: 10px;

  background-color: rgb(238, 255, 0);
  border-radius: 10%;
  box-shadow: 5px 5px 10px 1px rgb(63, 63, 57);

  &__image {
    height: 100%;
    width: 100%;

    border-radius: 10%;
  }
}
