@import './components/CounterComponent/CounterComponent.scss';
@import './components/ImageComponent/ImageComponent.scss';
@import './components/TranslationBlockComponent/TranslationBlockComponent.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: rgb(0, 255, 208);

  &__imgContainer {
    margin-bottom: 30px;
  }

  &__counter {
    position: absolute;

    top: 60%;
    right: 30%;
  }
}
